// colors

$pri-green: #00563f;
$sec-green: #ade6b9;
$main-gold: #ffd700;
$main-red: #e74c3c;
$main-black: #000b08;

// pri green
$pri-green-100: #b0cbc3;
$pri-green-700: #003d2d;

// sec green
$sec-green-50: #e6f7e9;
$sec-green-300: #c8eed0;
$sec-green-400: #bdebc7;
$sec-green-600: #9dd1a8;
$sec-green-700: #7ba383;
// main gold
// main red
// black
$main-black-10: #fafbfb;
$main-black-20: #f5f6f7;
$main-black-40: #dfe2e6;
$main-black-400: #5d6b82;
$main-black-600: #354764;

/// ----/////////////// Fonts

$xxlg-font: 1.375rem;
$xlg-font: 1.125rem;
$lg-font: 1rem;
$base-font: 0.875rem;
$sm-font: 0.75rem;
$xsm-font: 0.6875rem;
$xxsm-font: 0.625rem;

////------------------ spacing

$desk-div: 2.5rem;
$desk-lg: 1.5rem;
$desk-base: 1rem;
$desk-sm: 0.5rem;
$desk-xsm: 0.25rem;

$mobile-div: 1.25rem;

//// ----------------- Shadows

$card-shadow: rgba(0, 11, 8, 0.02) 0px 1px 3px 0px,
  rgba(0, 11, 8, 0.15) 0px 0px 0px 1px;
